{% extends 'shared/base_form.html' %}
{%block pagetitle %}Schedule-Pro | Update User Account{% endblock %}
{%block extra_head %}

{% endblock %}

{%block formtitle %}Update User Account{% endblock %}
{%block main_content %}
    <form action="/accounts/edit" method="post">
    <table>
      <tr>
        <td width="150">Email Address:</td>
        <td width="300">{{ user.email() }}</td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td><input name="first_name" id="first_name" type="text" value="{{ account.first_name }}" /></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input name="last_name" id="last_name" type="text" value="{{ account.last_name }}" /></td>
      </tr>
    </table>
    <input id="submit" name="submit" type="submit" text="Update Account" />
    </form>
{% endblock %}
